{% extends 'base/base.html' %}
{% load static %}
{% block header %}
    <header>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="60" height="60"/>
            </a>
        </div>
        <nav class="menu">
            <a class="menu-link" style="text-decoration: none" href="#">Wallet</a>
            <p>1 USD = Рубль</p>
        </nav>
        <div class="profile">
            <a href="#">Выйти</a>
        </div>
    </header>
{% endblock %}