django~=3.1.6

python-dotenv~=0.17.0

django-choices~=1.7.1
psycopg2-binary~=2.8.6
Pillow==8.1.2
PyYAML==5.4.1

google-cloud-vision~=2.3.2
plotly==5.0.0
pandas==1.2.5

pre-commit==2.12.1

celery~=5.0.0
redis~=3.5.3
django-redis~=4.12.1
