{% extends 'base/base.html' %}
{% load static %}

{% block header %}
    <header>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="60" height="60"/>
            </a>
        </div>
        <nav class="menu">
            <a href="#">Wallet</a>
            <p>1 USD = Рубль</p>
        </nav>
        <div class="profile">
            <a href="#">Выйти</a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <body>
    <div class="wrapper">

        <div class="banks flex-wrap flex">

            <div class="account col-md-4" style="background-color: darkgreen"> {# bank colour #}
                <img src="{% static 'img/coins.png' %}" alt="Монеты">
                <div class="account-data">
                    <div class="account-data-title"><b>Sber</b></div>
                    <div class="account-data-value">2000</div>
                </div>
            </div>

            <div class="account col-md-4" style="background-color: yellow"> {# bank colour #}
                <img src="{% static 'img/coins.png' %}" alt="Монеты">
                <div class="account-data">
                    <div class="account-data-title"><b>Tinkoff</b></div>
                    <div class="account-data-value">123123</div>
                </div>
            </div>
            <a href="#" class="btn btn-primary col-md-4"> Добавить банк +</a>
        </div>
        <div class="record-add-container">
            <form method="post" action="" id="add-record-form">
                <input type="hidden" name="accountId" value="#"/>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <select class="bank-select form-control" name="bankId" required>
                            <option value="${bank.id}">Sber</option>
                            <option value="${bank.id}">Tinkoff</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="record-type-select form-control" name="isIncome" required>
                            <option value="True" selected>Доход</option>
                            <option value="False">Расход</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="record-input  form-control" id="record-input" name="sum" type=number
                               placeholder="100"
                               min="0"
                               max="1000000000"
                               step="0.01"
                               pattern="([0-9]+\.?[0-9]{1,2})"
                               required>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="category-select form-control" name="categoryId" required>
                            <option value="" selected>Категория</option>
                            <option value="" selected>Категория</option>
                            <option value="" selected>Категория</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
                    </div>
                    <div class="form-group col-md-2">
                        <input class="description  form-control" name="description" type="text"
                               placeholder="Введите описание" maxlength="100">
                        <div class="account">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <button type="button" class="add-record btn">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="record-list-container">
            <div class="records-list">
                <div class="table-responsive">
                    <table class="table" id="record-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th scope="col">
                                <div class="record-category">
                                    <div class="record-icon"><i class=" fas fa-shopping-bag mr-4"></i></div>
                                    Категория
                                </div>
                            </th>
                            <th scope="col" class="record-account text-center">Банк</th>
                            <th scope="col" class="record-description text-center">Заметка</th>
                            <th scope="col" class="record-sum text-center">Сумма</th>
                            <th scope="col" class="record-date text-right">Дата</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td class="edit-icon">
                                <a href="#"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <div class="record-category">
                                    <div class="record-icon"><i class="fas ${record.category.iconName} mr-4"
                                                                style="color: darkred" {# цвет категории #}></i></div>
                                    Название категории
                                </div>
                            </td>
                            <td class="record-account text-center">Банк</td>
                            <td class="record-description text-center">
                                Описание
                            </td>
                            <td class="record-sum text-center">10100</td>
                            <td class="record-date text-right">
                                12.01.2001
                            </td>
                            <td class="delete-icon">
                                <a href="#"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="edit-icon">
                                <a href="#"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <div class="record-category">
                                    <div class="record-icon"><i class="fas ${record.category.iconName} mr-4"
                                                                style="color: darkred" {# цвет категории #}></i></div>
                                    Название категории
                                </div>
                            </td>
                            <td class="record-account text-center">Банк</td>
                            <td class="record-description text-center">
                                Описание
                            </td>
                            <td class="record-sum text-center">10100</td>
                            <td class="record-date text-right">
                                12.01.2001
                            </td>
                            <td class="delete-icon">
                                <a href="#"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>


                        <tr>
                            <td class="edit-icon">
                                <a href="#"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <div class="record-category">
                                    <div class="record-icon"><i class="fas ${record.category.iconName} mr-4"
                                                                style="color: darkred" {# цвет категории #}></i></div>
                                    Название категории
                                </div>
                            </td>
                            <td class="record-account text-center">Банк</td>
                            <td class="record-description text-center">
                                Описание
                            </td>
                            <td class="record-sum text-center">10100</td>
                            <td class="record-date text-right">
                                12.01.2001
                            </td>
                            <td class="delete-icon">
                                <a href="#"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}