{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <body class="sign">
    <div class="form-center">
        <div class="h2 mb-3 font-weigh  t-normal text-center">Wallet</div>
        <form class="form-login" method="post" action="#">
            {% csrf_token %}
            <h1 class="h4 mb-3 font-weight-normal text-center">Авторизация</h1>
            <input class="form-control first" name="email" type="email" placeholder="Email" required>
            <input class="form-control last" name="password" type="password" placeholder="Пароль">
            <div class="alert alert-danger" role="alert">
                Ошибка
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
            <a href="{% url 'sign_up' %}">Зарегистрироваться!</a>
        </form>
    </div>
    </body>
{% endblock %}